/* MACRO STYLING OF THE PAGE*/
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin: 50px auto 30px;
}

ul {
  margin: 0 26%;
  position: relative;
  display: inline-block;
}

a {
  color: #11999E;
  text-decoration: none;
}

.dev {
  text-decoration: underline;
}


hr {
  margin: 100px auto;
  border-style: dotted none none;
  border-width: 5px;
  border-color: #bac7a7;
  width: 5%;
}

/* CONTAINERS OF THE PAGE*/
.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding: 100px 100px 0;
}

.middle-container h2 {
  font-size: 2.5rem;
  color: #66BFBF;
}

.middle-container h3 {
  color: #11999E;
}

.bottom-container {
  text-align: center;
  background-color: #66BFBF; 
  height: 150px;
}
 
.bottom-container p {
   color: #ffffff;
   position: relative;
   top: 45px;
   font-size: 0.8rem;

}

.bottom-container a {
position: relative;
top: 40px;
margin-right: 50px;
}

/* IMAGES OF THE PAGE*/

.mountain-img {
  position: relative;
  top: 4px;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-cloud {
  position: absolute;
  left: 250px;
  bottom: 350px;
}

.webpage-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  width: 15%;
  border-radius: 100px;
  border-style: solid;
  border-color: #ffffff;
  margin-top: 30px;
}

/* ROWS OF THE PAGE*/
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#66BFBF;
	border-radius:8px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: "Montserrat", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:18px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
  margin: 30px auto 50px ;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
 .btn:active {
	position:relative;
	top:1px;
}


